<% provide(:title, 'FitnessApp - ' + 'Contact us') %>
<div class="container form">
  <h5 class="filled">Send us a message</h5>
  <%= form_for(:formMessage, url: messages_path) do |f| %>

      <div class="row">
        <div class="input-field col s4 offset-s4">
          <%= f.label :name %>
          <%= f.text_field :name, required: true %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s3 offset-s3">
          <%= f.label :phone %>
          <%= f.phone_field :phone, required: true %>
        </div>
        <div class="input-field col s3">
          <%= f.label :email %>
          <%= f.email_field :email, required: true %>
        </div>
      </div>

      <div class="row">
        <div class="col s4 offset-s4">
          <%= f.label 'Message' %>
          <%= f.text_area :text, { required: true, class: 'materialize-textarea' } %>
        </div>
      </div>

      <div class="row">
        <div class="col s4 offset-s4">
          <%= link_to 'Cancel', root_path, { :method => :get, class: 'btn red' } %>
          <%= f.submit 'Send', { class: 'btn green' } %>
        </div>
      </div>
  <% end %>
  <% if @contact_us.pictures.any? %>
      <div id="carouselCustomPage" class="carousel">
        <% @contact_us.pictures.each_with_index do |p, i| %>
            <a class="carousel-item" href='<%= '#!' + String(i + 1) %>'><img src='<%= File.join('/uploads', p.filename) %>'></a>
        <% end %>
      </div>
  <% end %>
</div>