<% provide(:title, 'FitnessApp - ' +  'Create a new membership') %>
<div class="container form">

  <h5 class="filled">Create a new membership</h5>
  <%= form_for(:formMembership, url: memberships_path) do |f| %>

      <div class="row">
        <div class="input-field col s4 offset-s4">
          <%= f.label :title %>
          <%= f.text_field :title, required: true %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s4 offset-s4">
          <%= f.label :price %>
          <%= f.number_field :price, { required: true, step: 0.1 } %>
        </div>
      </div>

      <div class="row">
        <div class="col s4 offset-s4">
          <%= f.label :description %>
          <%= f.text_area :description, { required: true, class: 'materialize-textarea' } %>
        </div>
      </div>

      <div class="row">
        <div class="col s4 offset-s4">
          <%= link_to 'Cancel', memberships_path, { :method => :get, class: 'btn red' } %>
          <%= f.submit 'Create', { class: 'btn green' } %>
        </div>
      </div>
  <% end %>
</div>


