<% provide(:title, 'Log in') %>
<div class="container form">
  <%= form_for(:formSession, url: admin_login_path) do |f| %>

      <div class="row">
        <div class=".input-field col s4 offset-s4">
          <%= f.label :login %>
          <%= f.text_field :login, required: true %>
        </div>
      </div>

      <div class="row">
        <div class=".input-field col s4 offset-s4">
          <%= f.label :password %>
          <%= f.password_field :password, required: true %>
        </div>
      </div>

      <div class="row">
        <div class="col s4 offset-s4">
          <%= f.submit 'Log in', { class: 'btn blue' } %>
        </div>
      </div>
  <% end %>
</div>