<% provide(:title, 'FitnessApp - ' +  'Register to ' + @course.title) %>
<div class="container form">
  <h5 class="filled"><%= 'Register to ' + @course.title %></h5>
  <%= form_for(:formBooking, url: course_bookings_path(@course)) do |f| %>

      <div class="row">
        <div class="input-field col s4 offset-s4">
          <%= f.label :name %>
          <%= f.text_field :name, required: true %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s3 offset-s3">
          <%= f.label :phone %>
          <%= f.phone_field :phone, required: true %>
        </div>
        <div class="input-field col s3">
          <%= f.label :email %>
          <%= f.email_field :email, required: true %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s4 offset-s4">
          <%= f.label 'Membership No' %>
          <%= f.text_field :membership %>
        </div>
      </div>

      <%= f.hidden_field :type, value: 'false' %>
      <% if @course.start_date.future? %>
          <div class="row">
            <div class="col s4 offset-s4 switch">
              <label>
                One shot
                <input type="checkbox" id="selectTypeBooking">
                <span class="lever"></span>
                Set of 6
              </label>
            </div>
          </div>
      <% end %>

      <div class="row">
        <div class="col s4 offset-s4">
            <input type="hidden" id="courseDay" value="<%= @course.day %>"/>
          <input type="hidden" id="minDate" value="<%= get_next_day_of_week(@course.day) %>"/>
          <%= f.label :start_date %>
          <%= f.text_field :start_date, { id: 'bookingPublicDatepicker', placeholder: 'Choose the date', required: true, class: 'datepicker', type: 'date' } %>
        </div>
      </div>

      <div class="row">
        <div class="col s4 offset-s4">
          <%= link_to 'Cancel', courses_path, { :method => :get, class: 'btn red' } %>
          <%= f.submit 'Create', { class: 'btn green' } %>
        </div>
      </div>
  <% end %>
</div>
