<% provide(:title, 'Edit ' + @course.title + ' course') %>
<div class="container form" style="text-align: center; margin-top: 50px">
  <%= form_for(:formCourse, method: :patch, url: course_path(@course)) do |f| %>

      <div class="row">
        <div class="col s3 offset-s3">
          <%= f.label :title %>
          <%= f.text_field :title, { value: @course.title, required: true } %>
        </div>
        <div class="col s3">
          <%= f.label :instructor %>
          <%= f.text_field :instructor, { value: @course.instructor, required: true } %>
        </div>
      </div>

      <div class="row">
        <div class=".input-field col s3 offset-s3">
          <%= f.label :day %>
          <%= f.select(:day, days_edit(@course.day), { include_blank: 'Choose the day' }, { required: true, id: 'selectDay' }) %>
        </div>
        <div class="col s3">
          <%= f.label :start_date %>
          <%= f.text_field :start_date, { value: @course.start_date, placeholder: 'Choose the date', disabled: true, required: true, class: 'datepicker', type: 'date' } %>
        </div>
      </div>

      <div class="row">
        <div class=".input-field col s2 offset-s4">
          <%= f.label :hours %>
          <%= f.select :hours, hours_edit(get_hours_from_time(@course.time)), { prompt: 'Choose the hour' }, { required: true } %>
        </div>

        <div class=".input-field col s2">
          <%= f.label :minutes %>
          <%= f.select :minutes, minutes_edit(get_minutes_from_time(@course.time)), { include_blank: 'Choose the minutes' }, { required: true } %>
        </div>
      </div>

      <div class="row">
        <div class=".input-field col s6 offset-s3">
          <%= f.label :description %>
          <%= f.text_area :description, { value: @course.description, required: true, class: 'materialize-textarea' } %>
        </div>
      </div>

      <%= f.submit 'Save', { class: 'btn', style: 'margin-bottom: 50px' } %>
  <% end %>
</div>
