<% provide(:title, 'Edit ' + @custom_page.title) %>
<div class="container form" style="text-align: center; margin-top: 50px">
  <%= form_for(:formCustomPage, method: :patch, url: custom_page_path(@custom_page)) do |f| %>

      <div class="row">
        <div class="col s3 offset-s3">
          <%= f.label :title %>
          <%= f.text_field :title, { value: @custom_page.title, required: true } %>
        </div>
        <div class="col s3">
          <%= f.label :text %>
          <%= f.text_field :text, { value: @custom_page.text, required: true } %>
        </div>
      </div>

      <div class="row">
        <div class="col s4 offset-s4">
          <%= link_to 'Cancel', custom_page_path, { :method => :get, class: 'btn red' } %>
          <%= f.submit 'Save', { class: 'btn green' } %>
        </div>
      </div>
  <% end %>
</div>
