<% provide(:title, 'FitnessApp - ' +  'Create new Custom Page') %>
<div>
  <h5 class="filled">Create a new Custom Page</h5>
  <%= form_for(:formCustomPage, url: custom_pages_path) do |f| %>
      <div class="row">
        <div class="input-field col s4 offset-s4">
          <%= f.label :title %>
          <%= f.text_field :title, required: true %>
        </div>
      </div>

      <div class="row">
        <div class="col s4 offset-s4">
          <%= f.label :text %>
          <%= f.text_area :text, { required: true, class: 'materialize-textarea' } %>
        </div>
      </div>

      <div class="row">
        <div class="col s4 offset-s4">
          <%= link_to 'Cancel', root_path, { :method => :get, class: 'btn red' } %>
          <%= f.submit 'Save', { class: 'btn green' } %>
        </div>
      </div>
  <% end %>
</div>
