<% provide(:title, 'FitnessApp - ' + @custom_page.title) %>

<% if @custom_page.pictures.any? %>
    <div id="carouselCustomPage" class="carousel">
      <% @custom_page.pictures.each_with_index do |p, i| %>
          <a class="carousel-item" href='<%= '#!' + String(i + 1) %>'><img src='<%= File.join('/uploads', p.filename) %>'></a>
      <% end %>
    </div>
<% end %>

<h1 class="center"><%= @custom_page.title %></h1>
<div class="container"><p><%= simple_format(@custom_page.text) %></p></div>

<% if current_admin %>
    <div class="fixed-action-btn vertical click-to-toggle">
      <a class="green btn-floating btn-large waves-effect waves-light red">
        <i class="material-icons">menu</i>
      </a>
      <ul>
        <li>
          <%= link_to custom_page_gallery_index_path(@custom_page), class: 'btn-floating amber' do %>
              <i class="material-icons">photo</i>
          <% end %>
        </li>
        <li>
          <%= link_to edit_custom_page_path(@custom_page), { :method => :get, class: 'btn-floating blue' } do %>
              <i class="material-icons">edit</i>
          <% end %>
        </li>
        <li>
          <%= link_to custom_page_path(@custom_page), { :method => :delete, class: 'btn-floating red' } do %>
              <i class="material-icons">delete</i>
          <% end %>
        </li>
      </ul>
    </div>
<% end %>
