<% provide(:title, 'FitnessApp - ' + @custom_page.title) %>

<h1><%= @custom_page.title %></h1>
<p><%= @custom_page.text %></p>

<% if current_admin %>
    <div class="fixed-action-btn vertical">
      <a class="green btn-floating btn-large waves-effect waves-light red">
        <i class="material-icons">menu</i>
      </a>
      <ul>
        <li>
          <%= link_to custom_page_gallery_index_path(@custom_page), class: 'btn-floating amber' do %>
              <i class="material-icons">photo</i>
          <% end %>
        </li>
        <li>
          <%= link_to edit_custom_page_path(@custom_page), { :method => :get, class: 'btn-floating blue' } do %>
              <i class="material-icons">edit</i>
          <% end %>
        </li>
        <li>
          <%= link_to custom_page_path(@custom_page), { :method => :delete, class: 'btn-floating red' } do %>
              <i class="material-icons">delete</i>
          <% end %>
        </li>
      </ul>
    </div>
<% end %>