<!DOCTYPE html>
<html>
  <header>
    <ul id="custom_pages" class="dropdown-content">
      <% CustomPage.where(editable: true).each do |p| %>
          <li><%= link_to p.title, p %></li>
          <li class="divider"></li>
      <% end %>
    </ul>
    <ul id="images" class="dropdown-content">
      <li><%= link_to 'Manage', pictures_path %></li>
      <li class="divider"></li>
      <% CustomPage.all.each do |p| %>
          <li><%= link_to p.title, custom_page_gallery_index_path(p) %></li>
          <li class="divider"></li>
      <% end %>
    </ul>
    <nav class="<%= current_admin ? 'indigo' : 'teal' %>">
      <div class="nav-wrapper">
        <%= link_to current_admin ? 'FitnessApp as Admin' : 'FitnessApp', root_path, class: 'brand-logo' %>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if current_admin %>
              <li>
                <a class="dropdown-button waves-effect waves-light" data-activates="images">
                  Pictures <i class="material-icons right">arrow_drop_down</i>
                </a>
              </li>
          <% end %>
          <% if CustomPage.where(editable: true).any? %>
              <li>
                <a class="dropdown-button waves-effect waves-light" data-activates="custom_pages">
                  Pages <i class="material-icons right">arrow_drop_down</i>
                </a>
              </li>
          <% end %>
          <% if Course.all.any? || current_admin %>
              <li>
                <%= link_to 'Planning', courses_path, class: 'waves-effect waves-light' %>
              </li>
          <% end %>
          <% if Membership.all.any? || current_admin %>
              <li>
                <%= link_to 'Memberships', memberships_path, class: 'waves-effect waves-light' %>
              </li>
          <% end %>
          <li>
            <% if current_admin %>
                <%= link_to 'Messages', messages_path, class: 'waves-effect waves-light' %>
            <% else %>
                <%= link_to 'Contact us', contact_path, class: 'waves-effect waves-light' %>
            <% end %>
          </li>
          <% if current_admin %>
              <li>
                <%= link_to 'Logout', admin_logout_path, class: 'waves-effect waves-light' %>
              </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </header>
</html>