<!DOCTYPE html>
<html>
  <header>
    <ul id="custom_pages" class="dropdown-content">
      <% CustomPage.all.each do |p| %>
          <li><%= link_to p.title, p %></li>
          <li class="divider"></li>
      <% end %>
    </ul>
    <nav class="<%= current_admin ? 'indigo' : 'teal' %>">
      <div class="nav-wrapper">
        <%= link_to current_admin ? 'FitnessApp as Admin' : 'FitnessApp', root_path, class: 'brand-logo' %>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if CustomPage.all.any? %>
              <li>
                <a class="dropdown-button" data-activates="custom_pages">
                  News <i class="material-icons right">arrow_drop_down</i>
                </a>
              </li>
          <% end %>
          <% if Course.all.any? || current_admin %>
              <li>
                <%= link_to 'Planning', courses_path %>
              </li>
          <% end %>
          <% if Membership.all.any? || current_admin %>
              <li>
                <%= link_to 'Memberships', memberships_path %>
              </li>
          <% end %>
          <li>
            <% if current_admin %>
                <%= link_to 'Messages', messages_path %>
            <% else %>
                <%= link_to 'Contact', contact_path %>
            <% end %>
          </li>
          <% if current_admin %>
              <li>
                <%= link_to 'Logout', admin_logout_path %>
              </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </header>
</html>